.tool-bar{
    /* background-color: transparent; */
    color: rgb(244,147,32);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
}

.burger{
    font-size: 3rem;
}

.burger:hover{
    cursor: pointer;
}

.sidebar{
    position: absolute;
    background-color: black;
    color: rgb(244,147,32);
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    
}
.sidebar{
    position: absolute;
    top: 5rem;
    left: 0;
}
.sidebar li{
    font-size: 1.5rem;
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255,255,255,0.1) 1px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
}

.sidebar li:hover{
    background-color:rgb(244,147,32) ;
    color:white ;
}